.error {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  background-color: rgba($color: $almost-black, $alpha: 0.7);
}

.error__popup {
  color: $almost-black;
  width: 40%;
  height: 20%;
  margin-top: calc(45% - 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $tender-white;
}

.error__text {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.error__btn {
  color: $tender-white;
  background-color: $almost-black;
}
