.btn {
  font-size: inherit;
  margin: 0;
  padding: 0;
  padding: 10px 25px;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.test-text {
  display: block;
  padding: 25px;
}
