.play-links {
  width: 100%;
}

.links {
  width: 100%;
  margin: 0;
  padding: 0;
}

.links__btn {
  font-size: 30px;
  color: #212121;
  padding: 15px;
  border: 1px solid $tender-white;
  background-color: $tender-white;
  cursor: pointer;
}

.links__label {
  font-size: 40px;
  color: #212121;
  padding: 10px 25px;
  background-color: $tender-white;
}

.links__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.links__input {
  width: 81%;
  font-size: 30px;
  color: $tender-white;
  padding: 15px;
  border: 1px solid $tender-white;
  background-color: $almost-black;
}
