.links {
  width: 100%;
  margin: 0;
  padding: 0;
}

.links__item {
  margin-bottom: 20px;
}

.links__label {
  width: 100%;
  font-size: inherit;
  color: $almost-black;
  display: flex;
  justify-content: center;
  background-color: $tender-white;
}

.links__input {
  width: 75%;
  font-size: inherit;
  color: $tender-white;
  padding: 15px;
  border-radius: $radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $almost-black;
}

.links__btn {
  color: $almost-black;
  margin-left: -1px;
  padding: 15px 0;
  width: 15%;
  background-color: $winter-grey;
  cursor: pointer;
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}



@keyframes blink {
  0% {transform: translateX(0)}
  50% {transform: translateX(45px)}
  100% {transform: translateX(0)}
}

@keyframes blink {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}

.links__btn-text {
  position: relative;
}

.dot {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: green;
  animation: blink 1s infinite;
  @media (max-width: 768px) {
    width: 40px;
  }
}

