.play-links {
  width: 100%;
}

.links {
  width: 100%;
  margin: 0;
  padding: 0;
}

.links__btn {
  color: $almost-black;
  padding: 15px;
  border: 1px solid $tender-white;
  background-color: $tender-white;
  cursor: pointer;
}

.links__label {
  font-size: inherit;
  color: #212121;
  padding: 10px 25px;
  background-color: $tender-white;
}

.links__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.links__input {
  width: 81%;
  font-size: inherit;
  color: $tender-white;
  padding: 15px;
  border: 1px solid $tender-white;
  border-radius: $radius;
  background-color: $almost-black;
}

@keyframes blink {
  0% {transform: translateX(0)}
  50% {transform: translateX(45px)}
  100% {transform: translateX(0)}
}

@keyframes blink {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}

.links__playing {
  position: relative;
}

.dot {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: green;
  animation: blink 1s infinite;
}

