// @font-face {
//   font-family: "OpenSans";
//   src: url('../src/fonts/opensans.woff2');
// }

body {
  background-color: #212121;
  font-family: "OpenSans", "Arial", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
