.play-view {
  width: 768px;
  height: 100vh;
  // outline: 2px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid white;
}

.menu__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  &:first-child {
    margin-right: 25px;
  }

}
