.play-view {
  width: 768px;
  outline: 2px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  &:first-child {
    margin-right: 25px;
  }
}
